main {
    background: linear-gradient(-45deg, #000000, #ababab, #000000, #ababab);
    /*background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);*/
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* ---------------------------------------------------- */

.tablaosoa tr,th,td{
    border: solid rgb(255, 255, 255);
    padding: 8px;
}

.tablaosoa table{
    margin: 30px auto;
    width: 75%;
}

.berdea{
    background-color: rgb(18, 175, 29);
    color: #000000;
}

.gorria{
    background-color: red;
    color: black;

}

.horia{
    background-color: rgb(199, 199, 3);
    color: black;
}

.laranja{
    background-color: rgb(247, 114, 65);
    color: black;
}

#ezer{
    border: none;
}

.zuria{
    color: white;
}

.backcolor{
    background-color: #ababab;
}

#backcolor2{
    background-color: black;
}

.tablaosoa a{
    color: white;
    text-decoration: none;
}

.tablaosoa a:hover{
    color: aqua;
}

#ChampionsLeague{
    background-color: rgb(18, 175, 29);
    border: none;
}

#EuropaLeague{
    background-color: rgb(199, 199, 3);
    border: none;

}

#UEFAConferenceLeague{
    background-color: rgb(247, 114, 65);
    border: none;

}

#Gainbehera{
    background-color: red;
    border: none

}

#champion{
    margin-left: 165px;
    margin-bottom: 25px;
    color: white;

}