main {
  background: linear-gradient(-45deg, #000000, #ababab, #000000, #ababab);
  /*background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);*/
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
/* Kontaktu tablaren estiloa */
#tablakontack{
  border: solid 5px #db31ff;
  border-radius: 15px;
  margin: auto ;
  background-color: rgba(43, 43, 43, 0.347);
  
}
/* Edukiaren estiloa */
th, td{
  color: rgb(255, 255, 255);
  padding: 10px;
  padding-right: 13px;

}


.erdian a{
  text-decoration: none;
  color: white;

}

.erdian{
  font-size: 20px;
}

.erdian a:hover{
  color: aqua;
}

.zuriz img{
  filter: invert(100%);
}

.erdian{
  margin-top: 40px;
  margin-bottom: 40px;

}

.space img{
  padding-right: 10px;

}

.izenburua{
  color: white;
}

.erdian iframe{
  width: 100%;
  border-radius: 15px;
  border-color: rgba(0, 0, 0, 0);
}


